
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backgrount-main{
    background-color: #00093d;
}
.fffit-content{
    width: fit-content;
}
.green-bg-color{
    background-color: #23bdb9;
}
.with-full-bg{
    width: 100%;
}
.tex-color{
    color: #12ada9;
}
.tex2-color{
    color: #00093d;
}
.classs{
    width: 140%;
    height: 100vh; /* Full viewport height */
    background-image: url('https://i.ibb.co/BgkzvV6/Capture.png'); /* Add your image path here */
    background-size: cover; /* Ensures the image covers the div */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center; 
}
.bggggg{
    background-color: #eff4f3;
}
.borderrr{
    border: 2px solid white;
}