* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.main-background{
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh; /* h-screen */
  width: 100vw;  /* w-screen */
  background-color: #000000; /* bg-[#000000] */
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px); /* bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] */
  background-size: 20px 20px; /* bg-[size:20px_20px] */
}